#app {
  margin: 0 auto;
  width: 100%;
  max-width: 50em;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.app-spacer {
  line-height: 0;
}

.app-editors {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 1em;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.app-editors .empty {
  grid-column: span 3;
}

.app-divider-line {
  grid-column: span 2;
  height: 1px;
  background-color: var(--color-neutral-3);
}

.app-divider-editors-visibility {
  display: flex;
  font-size: 0.7em;
  margin: 0.2em 0;
}

.app-divider-editors-visibility .button {
  aspect-ratio: 1;
  line-height: 0;
}

.app-spacer,
.app-editor-label {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  margin-right: 1em;
}

.app-editor-input {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
}

.app-editor-button {
  display: flex;
  justify-content: flex-end;
}

.app-editor-actions {
  display: flex;
}

.app-keyboards {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.app-settings {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 1em;
}

.app-setting {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.app-setting-label {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-variant: small-caps;
}

.app-setting-input {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.app-instructions {
  align-self: flex-start;
  min-width: 100%;
  max-width: min-content;
}

.app-instructions table {
  width: 100%;
  border-collapse: collapse;
}

.app-instructions td,
.app-instructions th {
  border: 1px solid var(--color-neutral-3);
  padding: 0.2em 0.5em;
}

.app-instructions-sections {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.app-instructions-section-label {
  font-weight: bold;
  margin-bottom: 1em;
}

.app-instructions-sections div:not(.app-instructions-section-label) + table {
  margin-top: 1em;
}

.app-footer {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
}
