.caption {
  display: flex;
  flex-direction: row;
  user-select: none;
}

.caption-char {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  width: var(--caret-width);
}

.caption-char > span {
  font-size: small;
}

.caption.space-4 .caption-char:nth-last-child(4n + 4):not(:first-child) {
  margin-left: var(--digits-space);
}

.caption.space-8 .caption-char:nth-last-child(8n + 8):not(:first-child) {
  margin-left: var(--digits-space);
}
