.editor {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
}

.editor-char {
  position: relative;
  display: flex;
  justify-content: center;
  width: var(--caret-width);
}

.editor.space-4 .editor-char:nth-last-child(4n + 4):not(:first-child) {
  margin-left: var(--digits-space);
}

.editor.space-8 .editor-char:nth-last-child(8n + 8):not(:first-child) {
  margin-left: var(--digits-space);
}

.editor-caret {
  position: absolute;
  width: var(--caret-width);
  height: var(--caret-height);
  bottom: 0.2em;
  z-index: -1;
}

.editor.caret-bar .editor-caret {
  width: 0.075em;
  left: 0;
  transform: translateX(-50%);
}

.editor.caret-underline .editor-caret {
  height: 0.075em;
}

.editor:focus .editor-caret {
  background-color: var(--color-primary-3);
}

.editor:focus {
  outline: none;
}

.editor:not(.disabled):focus .editor-char.solid {
  color: var(--color-primary-3);
}

.editor:not(.disabled):focus .editor-char.empty {
  color: var(--color-primary-2);
}

.editor:not(.disabled).caret-box:focus .editor-char.selected {
  color: var(--color-background-1);
}

.editor.disabled .editor-char {
  color: var(--color-neutral-2);
}

.editor.disabled:focus .editor-char {
  color: var(--color-primary-2);
}
