.editor {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
}

.editor-char {
  position: relative;
  display: flex;
  justify-content: center;
  width: 0.75em;
}

.editor-char-focus {
  color: var(--color-background);
}

.editor-char-focus > .editor-char-background {
  background-color: var(--color-primary-2);
}

.editor-char-solid {
  color: var(--color-primary-2);
}

.editor-char-empty {
  color: var(--color-primary-1);
}

.editor-char-background {
  position: absolute;
  width: 100%;
  height: 1.2em;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}
