.icon-button {
  position: relative;
  aspect-ratio: 1;
}

.icon-button > .button {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.icon-button::before {
  content: attr(data-tooltip);
  z-index: 1;
  position: absolute;
  top: calc(100% + 0.3em);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-background-0);
  color: var(--color-neutral-1);
  padding: 0.4em;
  border-radius: 0.2em;
  opacity: 0;
  pointer-events: none;
}

.icon-button:hover::before {
  transition: opacity cubic-bezier(1, 0, 1, 0) 0.5s;
  opacity: 1;
}
