.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio-group .button:not(:last-child) {
  border-right-width: 0;
}

.radio-group .button:hover,
.radio-group .button:hover + * {
  border-left-color: var(--color-primary-2);
}

.radio-group .button.selected,
.radio-group .button.selected + * {
  border-left-color: var(--color-primary-3);
}
