.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;
  cursor: pointer;
  padding: 1em;
  font-variant: small-caps;
}

.section-children {
  padding: 2em;
  padding-top: 1em;
}
