.section {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-neutral-3);
  min-width: min-content;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-variant: small-caps;
}

.section-children {
  padding: 2em;
  padding-top: 1em;
}

.section.collapsible .section-header:hover {
  background-color: var(--color-background-0);
  cursor: pointer;
}

.section.collapsible .section-header:focus {
  outline-color: var(--color-primary-2);
}

.section.collapsible .section-header > span {
  font-variant: small-caps;
}

.section.collapsible.collapsed .section-children {
  display: none;
}
