:root {
  --color-primary-1: #f0e1d6;
  --color-primary-2: #dca87d;
  --color-primary-3: #de8f4e;
  --color-primary-4: #cb5601;
  --color-primary-5: #8a3900;
  --color-primary-6: #572400;

  --color-neutral-1: rgba(255, 255, 255, 0.87);
  --color-neutral-2: rgba(255, 255, 255, 0.6);
  --color-neutral-3: rgba(255, 255, 255, 0.4);

  --color-background-0: #3b3b3b;
  --color-background-1: #242424;
  --color-background-2: #141414;

  --caret-height: 1.2em;
  --caret-width: 0.75em;
  --digits-space: 0.4em;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-neutral-1);
  background-color: var(--color-background-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a,
a:visited {
  color: var(--color-primary-3);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: var(--color-background-2);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

@media (max-width: 40em) {
  body {
    font-size: 2.2vw;
  }
}
