:root {
  --color-primary-1: #dca87d;
  --color-primary-2: #de8f4e;
  --color-primary-3: #cb5601;

  --color-neutral-1: rgba(255, 255, 255, 0.87);
  --color-neutral-2: rgba(255, 255, 255, 0.6);
  --color-neutral-3: rgba(255, 255, 255, 0.4);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-neutral-1);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.hidden {
  display: none;
}
